html, body {height:100%;}

main {
  background-color: darkred;
  min-height: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
}

nav ul{
  display:flex;
  flex-direction: row;
  gap: 48px;
  list-style-type: none;
}

.vertical ul{
  display:flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
}

.pane {
  display: flex;
  flex-direction: row;
}

.card {
  flex: 1;
}

.mango {
  width: 100%;
}